/*Below is how to make a background image fit the screen*/
html {
    background: url("../image/background_black.jpg") no-repeat center center fixed;
   	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	position: relative;
  	min-height: 100%;
}
body {
  background: transparent;
}

#title {
	width: 100%;
	position: relative;
	top: 70px;
	margin-bottom: 70px
}

.pageTitle {
	font-family: myFirstFont;
	font-size: 70px;
	text-align: center;
	color: black;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

#classroom {
	width: 600px;
}

#schools {
	float: right;
	padding: 20px;
}

#textHero {
	width: 50%;
}

#kapow, #kapow2, #kapow3 {
	font-family: myFirstFont;
	font-size: 20px;
	margin: 0px;
	padding: 0px;
	position: relative;
	right: 10px;
	color: #ff00ff;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#normal {
	font-family: 'Antic Slab', serif;
	font-size: 18px;
	margin-bottom: 10%;
	padding: 0;
	color: white;
	background-color: black;
}

#normal2 {
	font-family: 'Antic Slab', serif;
	font-size: 18px;
	margin-top: 0;
	margin-bottom: 30%;
	color: white;
	background-color: black;
}

#comic {
	width:100px;
	margin-top: 30%;
	margin-bottom: 90%;
}

#comic3 {
	width:100px;
	margin-bottom: 20%;
	margin-top: 30%;
}

#gallery {
	clear: left;
	width: 110px;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-top: 20px
	left: 10%;
	display: block;
	padding: 10px;
  }

#pow {
	position: relative;
	left: 900px;
	padding: 10px;
}

#pow2 {
	position: relative;
	bottom: 900px;
	padding: 10px;
}

#pow3 {
	position: relative;
	left: -200px;
	padding: 10px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

@media (min-width: 480px) and (max-width: 1023px) {
	#schools {
		display: none;
	}
	html {
		margin-top: 300px;
	}
	.pageTitle {
		font-size: 40px;
		text-align: left;
		margin-left: 10px;
	}

	#pow {
	position: relative;
	left: 0px;
	padding: 10px;
	}

	#pow2 {
	position: relative;
	bottom: 0px;
	padding: 10px;
	}

	#pow3 {
	position: relative;
	left: 0px;
	padding: 10px;
	}

	#kapow, #kapow2, #kapow3 {
	font-size: 40px;
	}

	#comic {
		margin-bottom: 90%;
		margin-top: 55%;
	}
	#comic3 {
		margin-bottom: 90%;
		margin-top: 25%;
	}

	#normal {
		margin-bottom: 0%;
	}
}

