@font-face {
    font-family: myFirstFont;
    src: url(BADABB__.TTF);
}

@font-face {
    font-family: 'Antic Slab';
    font-style: normal;
    font-weight: 400;
    src: local('Antic Slab'), local('AnticSlab-Regular'), url(AnticSlab.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

html {
    /* Margin top by header height */
    margin-top: 100px;
    /* specify the background image in the page css */
    /* background-image: url("../image/background_black.jpg"); */
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navBar {
    list-style: none;
    left: 0px;
    margin: 0px;
    padding: 0px;
    width: 100%;
    background: white;
    height: 100px;
}

.navBarTop {
    position: fixed;
    top: 0px;
    height: 100px;
    z-index: 10;
}

.navBarBottom {
    height: 100px;
    z-index: 10;
    position: absolute;
    bottom: 0;
}

.navBarTextBox {
    height: 100px;
    line-height: 100px;
}

.navBarText, .extraText {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-family: 'Antic Slab';
}

li.topBar, li.lastButton {
    width: 10%;
    float: right;
    display: block;
}

.navButton {
    display: block;
    background-color: white;
    color: black;
    text-align: center;
    text-decoration: none;
    font-family: 'Antic Slab', serif;
    font-size: 24px;
    font-weight: bold;
    padding: 5px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin-top: 10px;
    margin-right: 5px;
    border-style: groove;
    border-color: gray;
}
.navButtonBottom {
    display: block;
    background-color: white;
    color: black;
    text-align: center;
    text-decoration: none;
    font-family: 'Antic Slab', serif;
    font-size: 24px;
    font-weight: bold;
    padding: 5px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    position: absolute;
    margin-top: 30px;
    margin-left: 20px;
    border-style: groove;
    border-color: gray;
}

.navButton:hover, .navButtonBottom:hover {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  background-color: #ff00ff;
  text-decoration: none;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

.navButton:hover, .navButtonBottom:hover, .navButton:focus, .navButtonBottom:focus,.navButton:active, .navButtonBottom:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

li.bottomBar {
    width: 10%;
    float: left;
    display: block;
    padding-right: 15px;
    font-family: 'Antic Slab';
}

li.bottomBarHours {
    width: 20%;
    float: right;
    display: block;
    line-height: 50%;
    font-family: 'Antic Slab';
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.clock {
    text-align: right;
    padding: 0;
/*    margin-top: 10px; */
}

.bottomText {
    margin: 0;
    font-family: 'Antic-Slab'
}

#logo {
    position: relative;
    left: 30px;
    top: 10px;
    vertical-align: center;
}

.socialIcons {
    position: relative;
    text-align: center;
    height: 100px;
    line-height: 100px;
    vertical-align: middle;
}

.socialIcon {
    width: 20px;
    height: 20px;
    border: 0;
}
.logo {
    float: left;
}
li.lastButton {
    display: none;
}
@media (min-width: 1024px) and (max-width:1205px) {
    .navButton {
        font-size: 18px;
    }
    li.lastButton {
        display: none;
    }
}
@media (min-width: 480px) and (max-width: 1023px) {
    .navBarTop, .navBar, .navBarTextBox {
        list-style-type: none;
        display: block;
    }
    .logo, .topBar, .lastButton, .socialIcons {
        margin-right: 0%;
        float: none;
        display: block;
    }
    .logo {
        margin-left: 10%;
    }
    .topBar, .lastButton {
        margin-left: 5%;
    }
    li.topBar, li.lastButton, .socialIcons {
        display: block;
        width: 30%;
        float: none;
    }
    .navButton {
        margin-right: 0px;
    }
    .socialIcons {
        bottom: 10%;
        position: absolute;
        left: 5%;
    }
    .navButtonBottom {
        display: none;
    }
    .extraText {
        display: none;
    }
    .navBarText {
        display: none;
    }
    .navBar {
        height: 350px;
    }
    .navBarBottom {
        display: none;
    }
    body {
        margin: 0;
    }
}
